:root{

    --black: #454545;
    --green: #00B6C1;
    --blue: #0036C1;
    --mediumBlue: #0070C1;
    --lightGrey: #BFBFC0;
    --squareArrow: #DAE8FC;
    --darkGrey: #6666;
    --gradientLightGreen: rgba(0, 182, 193, .5);
    --white: #fff;
    --warningColor: #D0EEF0;

}
